
    <details>
        <summary><%= principal %></summary>
        <div class="accordion-div"><ul>
        <% if (temass) { %>
            <li><a href="../contennido/<%= id = 1 %>"><i class="fa-solid fa-video" style="color: #2a3e5e;"></i> <%= temass %></a></li>
        <% } %>
        <% if (clipboard) { %>
            <li><a href="../contennido/<%= id = 2%>"><i class="fa-regular fa-clipboard" style="color:  #2a3e5e ;" ></i> <%= clipboard %></a></li>
        <% } %>
        <% if (clipboard) { %>      <li><i class="fa-regular fa-clipboard" style="color:  #2a3e5e ;"></i> <%= clipboard_2 %></li>

        <% } %>
        <% if (clipboard) { %>      <li><i class="fa-solid fa-video" style="color:  #2a3e5e ;"></i>  <%= video %></li>

        <% } %>
        <% if (clipboard) { %>   
            <li><i class="fa-solid fa-video" style="color:  #2a3e5e ;"></i>  Pensamiento computacional</li>


        <% } %>
        <% if (clipboard) { %>      <li><i class="fa-regular fa-clipboard" style="color:  #2a3e5e ;"></i> <%= clipboard_3 %></li>

        <% } %>
        <% if (square) { %>      <li><i class="fa-regular fa-pen-to-square" style="color:  #2a3e5e ;"></i>  <%= square%></li>

        <% } %>
    </ul>
</div>
    </details>
   <!-- 
    
    
      
      <li><i class="fa-regular fa-clipboard" style="color:  #2a3e5e ;"></i>  Alfabetizacion digital</li>
      
   -->
